/* My CSS */
body {
  display: flex;
  justify-content: center;
  align-items: center;
	flex-direction: column;
  height: 100vh;
	overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #141414;
	background: url('images/light-bullseye-gradient.svg');
	padding-top: 0rem;
	background-position: center;
	background-size:cover;
}
.logo-img {
	width: 13rem;
	margin-bottom: 5rem;
	background-image: url(images/light-logo.svg);
	height: 10rem;
	background-position: center;
	background-size: cover;
}
.main-word {
  font-size: 3.5rem;
  font-weight: 900;
  color: #141414;
	margin-bottom: 0.25rem;
}
.input-text {
	border-style: none;
	text-align: center;
	height: 2rem;
	width: 6rem;
	border-radius: 0.25rem;
	margin-bottom: 0.25rem;
	font-size: 0.75rem;
}
.input-text:focus {
	border: none;
	outline: none;
}
.info-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 20rem;
	height: 10rem;
	margin-top: 2rem;
}
.info-section .correct-section {
	font-weight: 900;
	font-size: 2rem;
	color: #141414;
}
.info-section .timer-section {
	font-size: 1rem;
	color: #141414;
}
.timer {
	color: #141414;
	font-weight: 900;
}
.info-section button {
	height: 2rem;
	width: 6rem;
	border-radius: 2rem;
	border-style: none;
	background-color: #a4a4a4;
	color: #f3f3f3;
}
.doodledee-img {
	width: 3rem;
	margin-top: 3rem;
	border-radius: 50%;
}

/* Tablet CSS */
@media only screen and (max-width: 70em) {
	.logo-img {
		width: 20rem;
		height: 15.385rem;
	}
	.main-word {
		font-size: 4rem;
	}
	.input-text {
		margin-top: 4rem;
	}
	.info-section {
		height: 12rem;
	}
	.info-section button {
		height: 3rem;
		width: 8rem;
	}
	.doodledee-img {
		margin-top: 15rem;
	}
}

/* Mobile CSS */
@media only screen and (max-width: 38em) {
	.logo-img {
		width: 12rem;
		height: 9.231rem;
	}
	.main-word {
		font-size: 3rem;
	}
	.input-text {
		width: 4rem;
	}
	.info-section {
		height: 6rem;
	}
	.info-section .correct-section {
		font-size: 1.2rem;
	}
	.info-section .timer-section {
		font-size: 0.8rem;
	}
	.doodledee-img {
		width: 3rem;
		margin-top: 8rem;
		border-radius: 50%;
	}
}

/* CSS for Small Mobiles */
@media only screen and (max-width: 20em) {
	.logo-img {
		margin-bottom: 1rem;
		width: 8rem;
		height: 6.154rem;
	}
	.main-word {
		font-size: 1.8rem;
	}
	.input-text {
		margin-top: 1.75rem;
	}
	.info-section {
		height: 6rem;
		margin-top: 1rem;
	}
	.info-section .correct-section {
		font-size: 1.75rem;
	}
	.info-section .timer-section {
		font-size: 1rem;
	}
	.info-section button {
		height: 1.75rem;
		width: 5rem;
	}
	.doodledee-img {
		margin-top: 1.5rem;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #141414;
		background-image: url('images/bullseye-gradient.svg');
	}
	.logo-img {
		background-image: url(images/logo.svg);
	}
	.main-word {
		color: #f3f3f3;
	}
	.info-section .correct-section {
		color: darkgray;
	}
	.info-section .timer-section {
		color: #f3f3f3;
	}
	.timer {
		color: darkgray;
	}
	.info-section button {
		background-color: #656565;
		color: #f3f3f3;
	}
}